PROJECT_NAME=vagrant

# База данни
DB_HOST=192.168.56.11
DB_PORT=3306
DB_NAME=sys
DB_USER=docker-baas
DB_PASS=password123

# Параметри за отдалечения SFTP/SSH сторидж
SFTP_HOST=192.168.56.12
SFTP_PORT=22
SFTP_USER=vagrant
SFTP_KEY_PATH=/root/.ssh/vagrant_web_id_rsa
SFTP_DEST_DIR=/home/vagrant/
